style::after::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;

}

img {
    max-width: 100%;
}

.main_header {
    padding-top: 31.5px;
    padding-bottom: 31.5px;

}

.main_nav {
    display: inline;
}

.container {
    margin: 0;

}
.main_menu {
    list-style: none;
    margin: 0 32px 0 32px;
    text-transform: uppercase;
    padding: 0;
    display: inline;
}

.main_menu_item {
    display: inline;
    margin-right: 72px;
}

.link_memu {

    font-size: 18px;
    color: #f00;
    text-decoration: none;
    text-align: middle;
    margin-right: 40px;
    margin-top: 32px;
    margin-left: 32px;
    text-transform: uppercase;
    text-align: center;

}
.img {
    max-width: 100%;
    height: auto;
}
.title{
    width: auto;
    height: 29px;
    flex-direction: column;
    justify-content: flex-end;
    color: #373737;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    margin: 48px,253px,38px,253px;
}
.textone{
    width: auto;
    height: 132px;
    color: #373737;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    letter-spacing: 2.4px;
    margin: 38px 67px 28px 67px;
}
.texttwo{
    color: #373737;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    letter-spacing: 2.4px;
    font-family: 'Montserrat', sans-serif;
    margin: 28px 67px 66px 67px;

}
.buttonstyle{
    width: 191px;
    height: 51px;
    border-radius: 4px;
    background: #F00;
    margin: auto;
    box-shadow: none;
}
.buttontext{
    text-align: center;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
}
.footer{
    margin:40px 105px 29px 713px ;
    font-family: 'Montserrat', sans-serif;
    color: #373737;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;
    display: flex;
    width: 462px;
    height: 39px;
    flex-direction: column;
    justify-content: center;
}

